.form-signin {
    width: 100%;
    max-width: 420px;
    padding: 42px;
    margin: 60px auto;
    /* background-color: green; */
}

.text-center {
    text-align: center!important;
}

.sign-in-header{
    text-align: center;
    margin: 60px;
}

.form-control{
    margin-bottom: 8px;
}

.card {
    box-shadow: 0 0 8px 0 rgba(100, 100, 100, 0.26);
}
